/* nav bar css */
*{
    padding:0;
    margin:0
}

.nav-con{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    position: fixed;
    top:0;
    left:0;
    right:0;

    background-color: black;
    color:rgb(212, 217, 217);
}

.btn1{
    padding: 5px 10px;
    background-color: black;
    color:rgb(212, 217, 217);
    border: 0.5px solid  rgb(212, 217, 217);
    margin-inline:4px;

}


/* product card ss */

/* so that it appears below nav */
.home-page-con{
    margin-top:100px;
    
}

.home-grid-con{
  width:90%;
  display:grid;
  grid-template-columns: repeat(5,1fr);
  gap:25px;

  margin-inline:auto;
}

.product-card{
   border:1px solid;
   width:200px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.img-con{
    width:166px;
    height:175px
}

.card-img{
    width:100%;
    height:100%
}

.title{
  padding:3px 3px;
}

.price{

    padding:3px 3px;
}
.btn3{
    padding:4px 0px;
    background-color: black;
    color: rgb(202, 208, 208);  
}

/* css for cart page */

.cart-page-con{
    margin-top:100px;
    display: flex;
} 

.cart-grid-con{

   width:65%;
   display:grid;
   grid-template-columns: repeat(3,1fr);
   gap:25px;

   margin-left: 20px;
}

/* price box */

.price-list{
    width: 25%;
    min-height:fit-content;
    padding:5px 10px;
}
ul{
    list-style-type: none;

}
li{
    border: 0.5px solid;
    display:flex;
    justify-content: space-between;
    padding:3px 0px;
}
.price-list > button{
 width:100%;
 background-color: black;
 color: rgb(202, 208, 208);
 padding:4px 0px; 
}